<section class="hotels">
    <div class="container">
        <h5 class="section-head">
            <span class="heading">{{place}}</span>
            <span class="sub-heading">Our Beatutiful Hotel</span>
            <a href="/admin/addHotel" class="btn btn-gradient"
                style="position: absolute; z-index: 1; right: 10rem;top: 13rem;cursor: pointer;">add hotel
            </a>
        </h5>

        <div class="grid">
            {{#each hotel}}
            <div class="grid-item featured-hotels">

                <a onclick="deletehotel('{{this._id}}','{{this.Destination}}')" class="sm-link delete"><i
                        class="fas fa-trash-alt"></i></a>
                <a href="/admin/edithotel?id={{this._id}}&Destination={{this.Destination}}" class=" sm-link edit"><i
                        class="fas fa-edit"></i></a>



                <img src="/HOTEL/{{this._id}}.jpg" alt="" class="hotel-image" />
                <h5 class="hotel-name">{{this.username}}</h5>
                <h5 class="hotel-name">{{this.Destination}}</h5>
                <span class="hotel-price">$ 200 per nights</span>
                <div class="hotel-rating">
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star-half rating"></i>
                </div>
                <a href="#" class="btn btn-gradient">View Hotel
                    <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                </a>
            </div>
            {{/each}}



        </div>
    </div>
</section>
<style>
    .delete {
        position: absolute;
        top: 8px;
        right: 16px;
        cursor: pointer;


    }

    .edit {
        position: absolute;
        top: 8px;
        left: 16px;
        cursor: pointer;


    }
</style>
<script>

    function deletehotel(id, Destination) {

        console.log(Destination)
        if (!confirm('Are you sure?')) return false;
        $.ajax({
            url: "/admin/deletehotel",
            data: {
                id: id,
                Destination: Destination
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = "/admin"
                } else {
                    alert(">>>>>>")
                }
            }


        })
    }

</script>