<section class="rooms">
    <div class="container">
        <h5 class="section-head">
            <span class="heading">Luxurious</span>
            <span class="sub-heading">Affordable rooms</span>
        </h5>

        <form action="/hotel" method="POST" class="book-form">
            <div class="input-group">

                <select class=" options" name="destination" id="destination">
                    {{#if place}}
                    <option>{{place}}</option>
                    {{else}}
                    <option>Select</option>
                    {{/if}}

                    {{#each destination}}
                    <option onchange="submit" value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="input-group">


                <select class="selectdestination options" name="roomtype" id="roomtype">
                    {{#if type}}
                    <option>{{type}}</option>
                    {{/if}}

                    <option value="Casual">Casual</option>
                    <option value="Executive">Executive</option>

                </select>

            </div>




        </form>
        {{!-- <form action="/hotel" method="post">
            <div class="input-groups">
                <select class=" options" name="destination" id="destination">
                    {{#if place}}
                    <option>{{place}}</option>
                    {{else}}
                    <option>Select</option>
                    {{/if}}

                    {{#each destination}}
                    <option onchange="submit" value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                <select class="selectdestination options" name="roomtype" id="roomtype">
                    {{#if type}}
                    <option>{{type}}</option>
                    {{/if}}

                    <option value="Casual">Casual</option>
                    <option value="Executive">Executive</option>

                </select>
            </div>







        </form> --}}


        <div class="grid rooms-grid">
            {{#if rooms}}

            {{#each rooms}}



            <div class="grid-item featured-rooms">
                <div class="image-wrap">
                    <a onclick="deleteroom('{{this._id}}')" class="sm-link deleteroom btn  rooms-btn delete"><i
                            class="fas fa-trash-alt"></i></a>
                    <a href="/hotel/editroom/{{this._id}}" class="bookingroom editroom btn  rooms-btn sm-link edit"><i
                            class="fas fa-edit"></i></a>
                    <img class="room-image" src="/HOTEL/{{this._id}}.jpg" alt="" />
                    <h5 class="room-name"> room {{this.roomnumber}}</h5>
                </div>
                <div class="room-info-wrap">
                    <div>
                        <span class="room-price">${{this.price}} <span class="per-night">Per Night</span>
                        </span>

                        <p class="paragraph"> {{this.description}}</p>


                        <div class="features">
                            {{#each this.features}}
                            <h5>
                                {{this}}
                            </h5>
                            {{/each}}
                        </div>




                    </div>




                </div>

            </div>





            {{/each}}


            {{else}}

            <h1 style="text-align: center;">Add Rooms</h1>
            {{/if}}







        </div>
    </div>
</section>
<style>
    .bookingroom {
        color: #fff;
        position: absolute;
        right: -10px;
        z-index: 10;
        cursor: pointer
    }

    .deleteroom {
        color: #fff;
        position: absolute;
        left: 0px;
        z-index: 10;
        cursor: pointer
    }


    .selectdestination {
        margin-bottom: 10px;
    }

    .hero.editroom {
        height: 100% !important;
    }

    form.book-form {
        display: flex;
        justify-content: flex-start;
    }

    .options {
        outline: none;
        border: none;
        width: 100%;
        min-width: 4rem;
        padding: 1rem;
        font-weight: bold;
        color: #000000;
        letter-spacing: 2px;
        font-family: "Open Sans", sans-serif;
        resize: none;
        background-color: rgb(209 187 214);
    }

    .input-groups {
        display: flex;

    }
</style>
<script>

    function deleteroom(id) {

        console.log(id)
        if (!confirm('Are you sure?')) return false;
        $.ajax({
            url: "/hotel/deleteroom",
            data: {
                id: id,
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    console.log(response)
                    location.reload()
                } else {
                    alert(">>>>>>")
                }
            }


        })
    }

    jQuery(function () {
        jQuery('#destination').change(function () {
            this.form.submit();
        });
    })
    jQuery(function () {
        jQuery('#roomtype').change(function () {
            this.form.submit();
        });
    })
</script>