<section class="rooms">
    <div class="container">
        <h5 class="section-head">
            <span class="checkout">
                <h3>₹: {{total}}</h3>
                <a class="btn  checkout-btn" href="/place_order">Checkout</a>
            </span>

            <span class="heading">Booking</span>


        </h5>


        <div class="grid rooms-grid">


            {{#if rooms}}
            {{#each rooms}}
            {{#if_eq ../date ./this.closingTime }}
            <div class="grid-item featured-rooms">

                <div class="image-wrap">

                    <img class="room-image" src="/HOTEL/{{this.room._id}}.jpg" alt="" />
                    <h5 class="room-name"> {{this.room.hotel}}</h5>
                </div>
                <div class="room-info-wrap">
                    <div>
                        <span class="room-price">${{this.room.price}} <span class="per-night">Per Night</span>
                        </span>

                        <p class="paragraph"> {{this.room.description}}</p>


                        <div class="features">
                            {{#each this.room.features}}
                            <h5>
                                {{this}}
                            </h5>
                            {{/each}}
                        </div>




                    </div>




                </div>

            </div>
            {{else}}
            <div class="grid-item featured-rooms">
                <div class="image-wrap">

                    <a onclick="bookingorder('{{this.room._id}}')" class="sm-link deleteroom btn  rooms-btn delete"><i
                            class="fas fa-trash-alt"></i></a>
                    <img class="room-image" src="/HOTEL/{{this.room._id}}.jpg" alt="" />
                    <h5 class="room-name"> {{this.room.hotel}}</h5>
                </div>
                <div class="room-info-wrap">
                    <div>
                        <span class="room-price">${{this.room.price}} <span class="per-night">Per Night</span>
                        </span>

                        <p class="paragraph"> {{this.room.description}}</p>


                        <div class="features">
                            {{#each this.room.features}}
                            <h5>
                                {{this}}
                            </h5>
                            {{/each}}
                        </div>


                    </div>

               </div>

            </div>

            {{/if_eq}}

            {{/each}}

            {{else}}
            <h2 style="text-align: center; left: 0;margin-top: 50px;">Currently no room added</h2>
            {{/if}}




        </div>


    </div>
</section>
<section>


</section>
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-content-brand">
                <a href="#" class="logo">
                    <img src="/images/logo.png" class="logo-image" alt="" />
                </a>
                <p class="paragraph">
                    What is Lorem Ipsum Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s when an
                </p>
            </div>
            <div class="social-media-wrap">
                <h4 class="footer-heading">Follow us</h4>
                <div class="social-media">
                    <a href="#" class="sm-link"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="sm-link"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" class="sm-link"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="sm-link"><i class="fab fa-pinterest"></i></a>
                    <a href="#" class="sm-link"><i class="fab fa-tripadvisor"></i></a>


                </div>
            </div>
        </div>
    </div>
</footer>
<style>
    .bookingroom {
        color: #fff;
        position: absolute;
        right: -10px;
        z-index: 10;
        cursor: pointer
    }


    .deleteroom {
        color: #fff;
        position: absolute;
        left: 0px;
        z-index: 10;
        cursor: pointer
    }

    .checkout-btn {
        display: flex;
        background-color: green;
        justify-content: center;
        float: right;
        outline: none;
        cursor: pointer;
    }



    .checkout {
        float: right;
    }

    .hero.editroom {
        height: 100% !important;
    }
</style>

<script>

    function bookingorder(id) {

        console.log(id)
        if (!confirm('Are you sure?')) return false;
        $.ajax({
            url: "/removebooking",
            data: {
                id: id,
            },
            method: 'post',
            success: (response) => {

                if (response.status) {
                    console.log(response)
                    location.reload()
                } else {
                    alert(">>>>>>")
                }
            }


        })
    }
</script>