<section>
    <div class="grid" style="margin-top: 10px;">
        {{#if fine}}
        {{#each fine}}
        <form action="" id="checkout-form">

            <div class="grid-item featured-hotels" data-aos="zoom-out">
                <img src="HOTEL/{{roomid}}.jpg" alt="" class="hotel-image" />
                <h5 class="destination-name">{{roomnumber}}</h5>
                <h5 class="destination-name">Fine: {{total}}</h5>
                <input type="hidden" name="total" value="{{total}}">
                <input type="hidden" name="roomnumber" value="{{roomnumber}}">
                <input type="hidden" id="roomid" name="roomid" value="{{roomid}}">
                <button style="cursor: pointer;" class="btn btn-gradient">Pay Now <span class="dots"><i
                            class="fas fa-ellipsis-h "></i></span></button>

            </div>


        </form>

        {{/each}}
        {{/if}}

    </div>
</section>
<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault()

        $.ajax({
            url: '/fine_place_order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {

                if (response.codSuccess) {
                    location.href = "/"
                } else {
                    razorpayPayment(response)
                }
            }
        })


    })
    function razorpayPayment(order) {



        var options = {
            "key": "rzp_test_2wER6mnpGYCPCq", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Acme Corp",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {



                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Aju ALex",
                "email": "alexanderajju@gmail.com",
                "contact": "9400379265"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#F37254"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();

    }

    function verifyPayment(payment, order) {

        $.ajax({
            url: '/fine-verify-payment',
            data: {
                payment,
                order,
                roomid: document.getElementById("roomid").value


            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = "/"
                } else {
                    alert("payment failed")
                }
            }
        })
    }
</script>