<sectio>

</sectio>
<section>

    <div class="grid" style="margin-top: 10px;">

        {{#if rooms}}
        {{#each rooms}}
        {{#if user}}
        <form action="/edituserreview" method="POST" id="checkout-form">

            <div class="grid-item featured-hotels" data-aos="zoom-out">
                <a onclick="cancelOrder('{{this._id}}','{{this.razorpayid}}')"
                    class="sm-link deleteroom btn  rooms-btn delete cancelorder"><i class="fas fa-trash-alt"></i></a>
                <img src="/HOTEL/{{products.roomid}}.jpg" alt="" class="hotel-image" />
                <h5 class="destination-name">{{products.hotel}}, {{products.Destination}}</h5>
                <h5 class="destination-name">{{products.roomtype}}: {{roomnumber}}</h5>
                <input type="hidden" name="hotel" value="{{products.hotel}}">
                <input type="hidden" name="roomtype" value="{{products.roomtype}}">
                <input type="hidden" name="roomnumber" value="{{roomnumber}}">
                <input type="hidden" name="destination" value="{{products.Destination}}">
                <input type="hidden" id="roomid" name="roomid" value="{{products.roomid}}">
                <button style="cursor: pointer;" class="btn btn-gradient">Edit Review<span class="dots"><i
                            class="fas fa-ellipsis-h "></i></span></button>



            </div>


        </form>
        {{else}}

        <form action="/userreview" method="POST" id="checkout-form">

            <div class="grid-item featured-hotels" data-aos="zoom-out">
                <a onclick="cancelOrder('{{this._id}}','{{this.razorpayid}}')"
                    class="sm-link deleteroom btn  rooms-btn delete cancelorder"><i class="fas fa-trash-alt"></i></a>
                <img src="/HOTEL/{{products.roomid}}.jpg" alt="" class="hotel-image" />
                <h5 class="destination-name">{{products.hotel}}, {{products.Destination}}</h5>
                <h5 class="destination-name">{{products.roomtype}}: {{roomnumber}}</h5>
                <input type="hidden" name="hotel" value="{{products.hotel}}">
                <input type="hidden" name="roomtype" value="{{products.roomtype}}">
                <input type="hidden" name="roomnumber" value="{{roomnumber}}">
                <input type="hidden" name="destination" value="{{products.Destination}}">
                <input type="hidden" id="roomid" name="roomid" value="{{products.roomid}}">

                <button style="cursor: pointer;" class="btn btn-gradient">Review Room <span class="dots"><i
                            class="fas fa-ellipsis-h "></i></span></button>



            </div>


        </form>
        {{/if}}


        {{/each}}
        {{/if}}

    </div>



</section>
<style>
    .cancelorder {
        position: absolute;
        left: 0;
        top: 0;
    }
</style>
<script>

    function cancelOrder(id, razorpayId) {

        console.log(id, razorpayId)
        if (!confirm('Are you sure?')) return false;
        $.ajax({
            url: '/userordercancel',
            data: {
                id,
                razorpayId
            },
            method: 'post',
            success: (response) => {
                console.log("called", response)
                if (response.status) {
                    alert(response.notes)
                    location.href = "/profile"
                } else {
                    alert("payment failed")
                }
            }
        })
    }
</script>