<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Booking Form HTML Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">

    <!-- Bootstrap -->

    <link rel="stylesheet" href="/stylesheets/checkout.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <!-- Custom stlylesheet -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <form method="POST" action="/searchcheckout" enctype="multipart/form-data">
                            <h3 style="color: white;"> {{err}}</h3>
                            <div class="form-group">
                                <div class="form-checkbox">
                                    <label for="roundtrip">
                                        <input type="radio" id="roundtrip" name="roomtype" value="Executive">
                                        <span></span>Executive
                                    </label>
                                    <label for="one-way">
                                        <input type="radio" id="one-way" name="roomtype" value="Casual">
                                        <span></span>Casual
                                    </label>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Hotel Name</span>
                                        <input class="form-control" value="{{data.hotel}}" name="hotel" type="text"
                                            placeholder="City or Hotel">
                                        <input class="form-control" value="{{googleuser._id}}" name="userid"
                                            type="hidden" placeholder="City or Hotel">
                                        <input class="form-control" value="{{data.Destination}}" name="Destination"
                                            type="hidden" placeholder="City or Hotel">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">CHECK IN</span>
                                        <input class="form-control" value="{{data.checkin}}" name="checkin" type="date"
                                            required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">CHECK OUT</span>
                                        <input class="form-control" value="{{data.checkout}}" name="checkout"
                                            type="date" required>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <span class="form-label">Room Count</span>
                                    <div class="form-group">

                                        <select name="roomcount" class="form-control">
                                            <option value="{{data.roomcount}}">{{data.roomcount}}</option>

                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>

                                </div>


                            </div>
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-btn">
                                        <button type="submit" class="submit-btn">Book Now </button>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
<script>
    function changeQuantity(roomcount, count) {
        let roomval = document.getElementById("roomcount").value
        val = parseInt(roomval) + parseInt(count)
        document.getElementById("roomcount").value = val
        console.log(roomval)
        if (roomval === 1) {
            document.getElementById("countbutton").disabled = true

        } else if (val === 1) {
            console.log(roomval)
            document.getElementById("countbutton").disabled = true


        } else if (val => 2) {
            document.getElementById("countbutton").disabled = false
        }
    }
</script>
<style>
    .form-control-button {
        padding: 10px
    }
</style>

</html>