<section class="rooms">
    <div class="container">
        <h5 class="section-head">
            <span class="heading">Luxurious</span>
            <span class="sub-heading">Affordable rooms</span>
            <a style=" float: right;
    padding: 10px;
    background-color: #1db502;
    border-radius: 5px" href="/hotelReview/?id={{query.id}}&hotel={{query.hotel}}">Review</a>
        </h5>

        <div class="grid rooms-grid">


            {{#if rooms}}

            {{#each rooms}}



            <div class="grid-item featured-rooms">
                <div class="image-wrap">
                    <h5 style="cursor: pointer;" class="bookingroom btn  rooms-btn"> <a
                            href="/checkout/?id={{this._id}}">Book Now
                            &rarr;</a></h5>
                    <img class="room-image" src="/HOTEL/{{this._id}}.jpg" alt="" />
                    <h5 class="room-name"> room {{this.roomnumber}}</h5>
                </div>
                <div class="room-info-wrap">
                    <span class="room-price">₹{{this.price}} <span class="per-night">Per Night</span>
                    </span>
                    <p class="paragraph">
                        {{this.description}}
                    </p>
                    <div class="features">
                        {{#each this.features}}
                        <h5 class="feature_h5">
                            {{this}}
                        </h5>
                        {{/each}}
                    </div>

                </div>
            </div>





            {{/each}}
            {{else}}
            <h1 class="noroom">Currently NO rooms availabe</h1>
            {{/if}}










        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-content-brand">
                <a href="#" class="logo">
                    <img src="/images/logo.png" class="logo-image" alt="" />
                </a>
                <p class="paragraph">
                    {{#if feature}}
                    {{#each feature}}
                    <li>{{this}}</li>
                    {{/each}}
                    {{else}}
                <p class="paragraph">
                    What is Lorem Ipsum Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s when an
                </p>{{/if}}

                </p>
            </div>
            <div class="social-media-wrap">
                <h4 class="footer-heading">Follow us</h4>
                <div class="social-media">
                    <a href="#" class="sm-link"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="sm-link"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" class="sm-link"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="sm-link"><i class="fab fa-pinterest"></i></a>
                    <a href="#" class="sm-link"><i class="fab fa-tripadvisor"></i></a>


                </div>
            </div>
        </div>
    </div>
</footer>
<style>
    h1.noroom {
        justify-content: center;
        display: flex;
        padding: 30px;
    }

    .bookingroom {
        color: #fff;
        position: absolute;
        right: 0px;
        z-index: 10;
    }
</style>